@import "../../utils/scss/colors";

.chart-wrapper {
  min-width: 600px;
  min-height: 400px;
  box-shadow: 0 0 17px 0 rgba(0,0,0,0.15);
  transition: all 200ms;
  cursor: pointer;
  padding-bottom: 1rem;
  border: 1px solid $blue;

  .chart-header {
    font-size: 30px;
    color: $white;
    text-align: center;
    background-color: $blue;
  }

  .chart-container {
    padding: 0 40px;

    app-chart-container + app-chart-container {
      margin-left: 1rem;
    }
  }

  .chart-stats {
    text-align: center;

    p {
      font-size: 25px;
      color: $dark;

      span {
        color: $darkgreen;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
