<section [@show] class="blog__section">
  <div class="section-header" style="margin-top: 5rem">Latest news</div>
  <div class="news-wrapper">
    <app-news *ngFor="let elem of news" [title]="elem.title" [hot]="false" [preview]="elem.message"></app-news>
  </div>

  <div *ngIf="dataLoading" [@loading] class="loading">
    <div class="loading-element" style="position: absolute; width: fit-content; height: fit-content;">
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
    </div>
  </div>
</section>
