@import "../../utils/scss/colors";

.news-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  app-news {
    margin: 0 0 2vh 0 !important;
    width: 40vw;
    flex: 0 44vw;
  }


}

.no-news-found {
  font-size: 30px !important;
  color: $dark;
  padding-top: 10%;
  height: 90%;
  letter-spacing: 5px;
}
