<section class="blog__section">
  <div class="section-header" style="margin-top: 5rem">Latest news</div>
  <div class="row centered">
    <div class="news-wrapper">
      <app-news [title]="'News title'" [hot]="true" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
      <app-news [title]="'News title'" [hot]="false" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
    </div>
  </div>
  <div class="row centered">
    <div class="news-wrapper">
      <app-news [title]="'News title'" [hot]="false" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
      <app-news [title]="'News title'" [hot]="false" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
    </div>
  </div>

</section>
