<section class="welcome__section">
  <div id="particles-js"></div>
  <div class="parallax-object" parallax-speed="-0.4">
    <h1>Welcome to <span>Bits4Cash</span></h1>
    <p>Spend 10 racks on a new blockchain</p>
    <div class="row centered">
      <app-context-button *ngIf="!userService.isLoggedIn() && connectionService.connected"
                          [context]="modalService.showModal"
                          [args]="['register-modal']"
                          [text]="'Create account'"
      >
      </app-context-button>
      <app-context-button
        [text]="'Forum'"
      >
      </app-context-button>
      <app-context-button
        [text]="'News'"
      >
      </app-context-button>
    </div>
  </div>
  <app-modal
    [modalTemplateId]="'register'"
    [id]="'register-modal'"
    [draggable]="true"
    style="right: 3%; top: 10%;"
    class="parallax-object" parallax-speed="-0.1"
  >
  </app-modal>
  <app-modal
    [blockRender]="userService.isLoggedIn()"
    [modalTemplateId]="'tooltip'"
    [id]="'newcomer-tooltip-modal'"
    [initiallyShown]="true"
    [useCustomTemplate]="true"
    [customTemplateArgs]="[
      'Newcomer?',
      'Create new account by clicking button \'Create account\' and follow instructions.',
      'Got it',
      '400px'
      ]"
    style="left: 10%; top: 20%;"
    class="parallax-object" parallax-speed="-0.1"
  >
  </app-modal>
</section>


<section [@showAbout] class="about__section">
  <div class="header">
    <h1>About us</h1>
    <p>We at Bits4Cash were wondering, how easy it was to profit using cryptocurrency without having to set up your own mining rigs.
      So we developed a <span class="tooltip-container" appShowModal [params]="['mini-tooltip-1', true, true]">prototype<app-modal
        [@.disabled]
        [modalTemplateId]="'mini_tooltip'"
        [id]="'mini-tooltip-1'"
        [useCustomTemplate]="true"
        [customTemplateArgs]="[
      'Prototype state',
      'This is not a real chance to earn money. All currencies are fictional. ',
      200
      ]"
        style="left: -30%; top: -140px;"
        class="parallax-object" parallax-speed="-0.1"
      >
      </app-modal></span> with fictional currency
      to see if you can actually come out on top by just trading it.</p>
  </div>
  <div class="row">
    <div class="col about-module">
      <div class="about-module-header">
        <img src="../../../assets/img/protection.png">
        <h4>We value your privacy</h4>
      </div>
      <p>We prioritize safety above all else. We are working hard to ensure that your personal data is safe.</p>
    </div>
    <div class="col about-module">
      <div class="about-module-header">
        <img src="../../../assets/img/time-is-money.png">
        <h4>Always up to date</h4>
      </div>
      <p>We are using actual prices for cryptocurrency. Our database is updated every minute to look for possible cryptocurrency price changes
      for the trading to be as close to real life as possible.</p>
    </div>
    <div class="col about-module">
      <div class="about-module-header">
        <img src="../../../assets/img/bitcoin.png">
        <h4>You are in this together</h4>
      </div>
      <p>You can interact with other users on forum to see which cryptocurrencies are currently worth purchasing to try and collectively
      figure if there is a way for everyone to profit on the same deal using different approaches.</p>
    </div>
  </div>
</section>
