<section [@show] class="exchange__section">
  <div class="section-header" style="margin-top: 5rem">Exchange</div>
  <div class="options">
    <div #option id="cash2crypto" [@showOption] class="exchange-option-wrapper">
      <div class="exchange-option-header">
        <p class="option-title">USD <span>➜</span>  BTC</p>
        <p class="option-subtitle">Buy bits for cash!</p>
      </div>
      <div class="exchange-option-content">
        <h2>Deposit</h2>
        <p>Put real money into your <br> account for future trading</p>
      </div>
    </div>

    <img src="../../../assets/img/arrow_p.png">

    <div #option id="crypto2crypto" [@showOption] class="exchange-option-wrapper">
      <div class="exchange-option-header">
        <p class="option-title">BTC <span>➜</span> ETH</p>
        <p class="option-subtitle">Change bits to other bits</p>
      </div>
      <div class="exchange-option-content">
        <h2>Exchange</h2>
        <p>Exchange any cryptocurrency <br> using our exchange rate</p>
      </div>
    </div>

    <img src="../../../assets/img/arrow_p.png">

    <div #option [@showOption] class="exchange-option-wrapper">
      <div class="exchange-option-header">
        <p class="option-title">ETH <span>➜</span>  USD</p>
        <p class="option-subtitle">Sell bits for cash!</p>

      </div>
      <div class="exchange-option-content">
        <h2>Withdraw</h2>
        <p>Exchange the accumulated <br> cryptocurrency for real money</p>
      </div>
    </div>

    <app-modal
      [modalTemplateId]="'exchange_cash2crypto'"
      [id]="'exchange-modal'"
      [draggable]="true"
      style="right: 40%; top: 10%;"
      class="parallax-object" parallax-speed="-0.1"
    >
    </app-modal>

    <app-modal
      [modalTemplateId]="'exchange_crypto2crypto'"
      [id]="'exchange-crypto-modal'"
      [draggable]="true"
      style="right: 40%; top: 10%;"
      class="parallax-object" parallax-speed="-0.1"
    >

    </app-modal>

    <app-modal
      [modalTemplateId]="'exchange_crypto2cash'"
      [id]="'exchange-cash-modal'"
      [draggable]="true"
      style="right: 40%; top: 10%;"
      class="parallax-object" parallax-speed="-0.1"
    >

    </app-modal>

  </div>
</section>
