<div class="post-wrapper" (mouseenter)="onHover.invoke([true])" (mouseleave)="onHover.invoke([false])">
  <div class="post-header">
    {{title}}
  </div>
  <div class="post-content">
    <div class="post-message">
      <p [innerHTML]="message | cutText : 130: 50"></p>
    </div>
    <span class="separator"></span>
    <div class="post-user">
      <div class="post-user-image">
        {{user.username.charAt(0).toUpperCase()}}
      </div>
      <p>{{user.username}}</p>
    </div>
  </div>
  <app-post-menu></app-post-menu>
</div>
