<div [@newPost]="currentState" class="post-wrapper" (mouseenter)="onHover.invoke([true])" (mouseleave)="onHover.invoke([false])">
  <div class="post-header">
    {{title}}
  </div>
  <div class="post-content">
    <div class="post-message">
      <p *ngIf="!full" [innerHTML]="message | cutText : 130: 50"></p>
      <p *ngIf="full" [innerHTML]="message"></p>
    </div>
    <div class="post-user">
      <div class="post-user-image">
        {{_userName.charAt(0).toUpperCase()}}
      </div>
      <p>{{_userName}}</p>
    </div>
  </div>
  <app-post-menu (onOpenFull)="openFull()" (onHideFull)="hideFull()" *ngIf="message.length > 130"></app-post-menu>
</div>
