@import "../../utils/scss/colors";

.account__section {
  display: flex;
  flex-direction: row;
  box-shadow: none;

  .account-navigation {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background: $white;
    box-shadow: 0 0 30px 0 rgba($dark, 0.3);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-bottom: 0 !important;
    }

    .separator {
      height: 1px;
      width: 70%;
      background: rgba($dark, 0.4);
      margin: 1rem 0;
    }

    a {
      width: 100%;
      padding: 5px 0;
      background: $white;
      text-align: center;
      font-size: 25px;
      transition: all 100ms, letter-spacing 300ms;
      border: 1px solid rgba($dark, 0.4);
      background: $white;
      color: $blue;
      font-weight: lighter;

      &:hover {
        text-decoration: none;
        color: $white;
        background: $alterblue;
        box-shadow: 0 0 10px 0 rgba($dark, 0.4);
        background: rgba($blue, 0.8);
        letter-spacing: 5px;
        font-weight: normal;
        text-shadow: 0 0 10px rgba($white, 0.5);
      }
    }

    a + a {
      border-top-color: rgba(0,0,0,0);
    }
  }

  .account-content {
    padding: 59px 0 0 20%;
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.account-active-link {
  background: $alterblue;
  color: $white;
}
