@import "../utils/scss/colors";

.about__section {
  background: $alterblue;
  text-align: center;
  padding: 1rem 4rem;

  h1 {
    font-size: 35px;
  }

  .about-module {
    padding: 0;
    background: $alterblue !important;

    h4 {
      color: $blue;
      letter-spacing: 10px;
    }

    p {
      padding: 10px;
      font-size: 20px;
      color: $white;
    }

    .about-module-header {
      padding: 5px;
      background: $white;
      border-radius: 0 0 60px 60px;
      box-shadow: 0 0 20px 0 rgba($white, 0.4);
      position: relative;

      img {
        width: 128px;
        height: 128px;
      }

      &:before {
        content: '';
        background: transparent;
        position: absolute;
        left: 0;
        top: -60px;
        width: 60px;
        height: 60px;
        box-shadow: 0 30px 0 0 $white;
        border-bottom-left-radius: 50%;
      }

      &:after {
        content: '';
        background: transparent;
        position: absolute;
        right: 0;
        top: -60px;
        width: 60px;
        height: 60px;
        box-shadow: 0 30px 0 0 $white;
        border-bottom-right-radius: 50%;
      }
    }

  }

  .about-module + .about-module {
    margin-left: 1rem;
  }
}
