@import "../utils/scss/colors";

.monitoring__section {
  @extend .general-section;

  p {
    margin-bottom: 2rem;
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba($dark, 0.4);
  }
}
