@import "../utils/scss/colors";
@import "../utils/scss/absolute-center";

.welcome__section {
  box-shadow: none;
  text-align: center;
  padding: 8rem 0 16rem 0;
  color: $dark;

  h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba($white, 0.4);

    span {
      color: $white;
      text-shadow: 0 0 10px rgba($blue, 0.4);
    }
  }

  p {
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
  }

  .row {
    app-context-button  + app-context-button {
      margin-left: 1rem;
    }
  }
}

.welcome-bg {
  position: absolute;
  left: 30%;
  z-index: -100;
  width: 800px;
  height: 650px;
  top: -15%;
  opacity: 60%;
}
