.charts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.charts-container app-chart-container + app-chart-container {
  margin-left: 1rem;
}

.blue {
  color: #2282c7;
}

.header__section {
  z-index: 1;
  background: #fff;
}

.blog__section {
  padding-bottom: 1rem !important;
}
.blog__section .news-wrapper {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__section .news-wrapper app-news + app-news {
  margin-left: 1rem;
}
.blog__section .row + .row {
  margin-top: 1rem;
}

.forum__section {
  margin-bottom: 1rem;
  padding-bottom: 1rem !important;
}
.forum__section .posts-container {
  padding: 1rem 2rem;
}

.blue {
  color: #2282c7;
}

.about__section {
  background: #4287f5;
  text-align: center;
  padding: 1rem 4rem;
}
.about__section h1 {
  font-size: 35px;
}
.about__section .about-module {
  padding: 0;
  background: #4287f5 !important;
}
.about__section .about-module h4 {
  color: #2282c7;
  letter-spacing: 10px;
}
.about__section .about-module p {
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.about__section .about-module .about-module-header {
  padding: 5px;
  background: #fff;
  border-radius: 0 0 60px 60px;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
  position: relative;
}
.about__section .about-module .about-module-header img {
  width: 128px;
  height: 128px;
}
.about__section .about-module .about-module-header:before {
  content: "";
  background: transparent;
  position: absolute;
  left: 0;
  top: -60px;
  width: 60px;
  height: 60px;
  box-shadow: 0 30px 0 0 #fff;
  border-bottom-left-radius: 50%;
}
.about__section .about-module .about-module-header:after {
  content: "";
  background: transparent;
  position: absolute;
  right: 0;
  top: -60px;
  width: 60px;
  height: 60px;
  box-shadow: 0 30px 0 0 #fff;
  border-bottom-right-radius: 50%;
}
.about__section .about-module + .about-module {
  margin-left: 1rem;
}

.tooltip-container {
  font-size: larger;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.blue {
  color: #2282c7;
}

.main-container {
  position: relative;
  min-height: calc(100vh - 100px);
}

.centered {
  align-items: center;
  justify-content: center;
}

.general-section, .blog__section, .forum__section {
  padding: 0 0 5rem 0;
  text-align: center;
  background: #fff;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

app-modal {
  position: absolute;
  display: block;
}

.warning {
  color: #ff5959;
  letter-spacing: 2px;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container-fluid {
  padding: 0;
}

.section-header {
  margin-bottom: 1rem;
  background: #4287f5;
  padding-bottom: 0.5rem;
  color: #fff;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  position: relative;
  box-shadow: 0 -5px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.section-header:before, .section-header:after {
  content: "";
  background: transparent;
  position: absolute;
  bottom: -60px;
  width: 60px;
  height: 60px;
  box-shadow: 0 -30px 0 0 #4287f5;
  z-index: -4;
}
.section-header:before {
  left: 0;
  border-top-left-radius: 50%;
}
.section-header:after {
  right: 0;
  border-top-right-radius: 50%;
}

.col {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.loading-element {
  background: rgba(255, 255, 255, 0.4);
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(8px);
}

footer {
  padding: 1rem 4.5rem 1rem 2rem;
  background: #575757;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  bottom: -100px;
  width: 100%;
}
footer:before, footer:after {
  content: "";
  background: transparent;
  position: absolute;
  top: -60px;
  width: 60px;
  height: 60px;
  box-shadow: 0 30px 0 0 #575757;
  z-index: -4;
}
footer:before {
  left: 0;
  border-bottom-left-radius: 50%;
}
footer:after {
  right: 0;
  border-bottom-right-radius: 50%;
}
footer .footer-col {
  display: flex;
  flex-direction: row;
}
footer .footer-module {
  background: #fff;
  border-radius: 40px;
  padding: 0.5rem 1rem;
  font-family: Lato sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
footer .footer-module .link {
  position: absolute;
  border-radius: 0 40px 40px 0;
  right: -30%;
  background: #f2f2f2;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: -1;
}
footer .footer-module .link img {
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
}
footer .footer-module .link:before, footer .footer-module .link:after {
  content: "";
  background: transparent;
  position: absolute;
  left: -62px;
  width: 60px;
  height: 25px;
  box-shadow: 25px 0 0 0 #f2f2f2;
  z-index: -2;
}
footer .footer-module .link:before {
  top: 0;
  border-top-right-radius: 40px;
}
footer .footer-module .link:after {
  bottom: 0;
  border-bottom-right-radius: 40px;
}
footer .footer-module + .footer-module {
  margin-left: 1rem;
}

/*# sourceMappingURL=app.component.css.map */
