<div class="container-fluid">
  <section class="header__section" >
    <app-navbar></app-navbar>
  </section>

  <section class="welcome__section">
    <div class="absolute-center-wrapper" style="left: 30%; top: 2%">
      <img src="../assets/img/fluid-obj.png" class="welcome-bg parallax-object" parallax-speed="-0.3">
    </div>
    <div class="parallax-object" parallax-speed="-0.4">
      <h1>Welcome to <span>Bits4Cash</span></h1>
      <p>Spend 10 racks on a new blockchain</p>
      <div class="row centered">
        <app-context-button
          [context]="modalService.showModal"
          [args]="['register-modal']"
          [text]="'Create account'"
        >
        </app-context-button>
        <app-context-button
          [context]="modalService.showModal"
          [args]="[0]"
          [text]="'Forum'"
        >
        </app-context-button>
        <app-context-button
          [context]="modalService.showModal"
          [args]="[0]"
          [text]="'News'"
        >
        </app-context-button>
      </div>
    </div>
    <app-modal
      [modalTemplateId]="'register'"
      [id]="'register-modal'"
      style="right: 3%; top: 10%;"
      class="parallax-object" parallax-speed="-0.1"
    >
    </app-modal>
    <app-modal
      [modalTemplateId]="'tooltip'"
      [id]="'test-tooltip-modal'"
      [initiallyShown]="true"
      [useCustomTemplate]="true"
      [customTemplateArgs]="[
      'Tooltip header',
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, incidunt.',
      'Got it',
      '400px'
      ]"
      style="left: 3%; top: 10%;"
      class="parallax-object" parallax-speed="-0.1"
    >
    </app-modal>
  </section>

  <section class="monitoring__section">
    <h1>Most popular currencies</h1>
    <p>Observe most popular currencies in runtime</p>
    <div class="charts-container">
      <app-chart-container
        [requestData]="true"
        [id]="'bitcoin'"
        [chart]="{
        type: 'line',
        toolbar: {
          show: false
        }
      }"
      >
      </app-chart-container>
      <app-chart-container
        [requestData]="true"
        [id]="'ethereum'"
        [chart]="{
        type: 'line',
        toolbar: {
          show: false
        }
      }"
      >
      </app-chart-container>
    </div>
  </section>

  <section class="blog__section">
    <h1>Latest news</h1>
    <div class="row centered">
      <div class="news-wrapper">
        <app-news [title]="'News title'" [hot]="true" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
        <app-news [title]="'News title'" [hot]="false" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
      </div>
    </div>
    <div class="row centered">
      <div class="news-wrapper">
        <app-news [title]="'News title'" [hot]="false" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
        <app-news [title]="'News title'" [hot]="false" [preview]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'+
    'Accusamus delectus dicta explicabo id illum inventore ipsa nam odit sequi voluptatem'"></app-news>
      </div>
    </div>

  </section>

  <section class="forum__section">
    <h1>Forum</h1>
  </section>
</div>
<app-script-bridge></app-script-bridge>
