<section [@show] class="forum__section">
  <div class="section-header" style="margin-top: 5rem">Forum</div>
  <app-modal
    [modalTemplateId]="'write_post'"
    [id]="'write-pos-modal'"
    [draggable]="true"
    style="right: 45%"
  >
  </app-modal>
  <div class="posts-container">
    <div appPostsContainer></div>
    <button id="postPrevPage"></button>
    <button id="postNextPage"></button>

    <div *ngIf="posts.length === 0" class="no-posts">
      <p>There is no posts currently. <br> Be the first one and share your ideas!</p>
      <app-context-button *ngIf="userService.isLoggedIn()"
                          [text]="'Write post'"
                          [context]="modalService.showModal"
                          [args]="['write-pos-modal']"
      >
      </app-context-button>
    </div>
  </div>

  <div *ngIf="posts.length > 0" class="separator"></div>

  <div *ngIf="posts.length > 0" class="row centered">
    <app-context-button *ngIf="userService.isLoggedIn()"
                        [text]="'Write post'"
                        [context]="modalService.showModal"
                        [args]="['write-pos-modal']"
    >
    </app-context-button>
  </div>

  <div *ngIf="dataLoading" [@loading] class="loading">
    <div class="loading-element" style="position: absolute; width: fit-content; height: fit-content;">
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <div style="background: #4287f5"></div>
      <p>Loading</p>
    </div>
  </div>
</section>
