<section [@show] class="forum__section">
  <div class="section-header" style="margin-top: 5rem">Forum</div>
  <app-modal
    [modalTemplateId]="'write_post'"
    [id]="'write-pos-modal'"
    [draggable]="true"
    style="right: 45%"
  >
  </app-modal>
  <div class="posts-container">
    <app-post *ngFor="let post of posts; index as i"
      [requestData]="false"
      [postId]="i.toString()"
      [prebuiltData]="post"
    ></app-post>
    <div class="cam">
      <div></div>
      <div></div>
    </div>
    <div class="dynamic"></div>
    <div class="deco"></div>
  </div>

  <div class="row centered">
    <app-context-button *ngIf="userService.isLoggedIn()"
                        [text]="'Write post'"
                        [context]="modalService.showModal"
                        [args]="['write-pos-modal']"
    >
    </app-context-button>
  </div>
</section>
