@import "../../../../utils/scss/colors";

.col {

  padding: 0;

}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;

  .header {
    background: #4287f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      top: 14%;
      opacity: 0.7;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }
  }

  h2 {
    text-align: center;
    color: $white;
    font-size: 40px;
    margin-top: 2rem;
    letter-spacing: 5px;
  }


  .account-avatar-wrapper {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .account-avatar-bg {
      background: $white;
      width: 100px;
      height: 100px;
      padding-top: 10px;
      border-radius: 50%;

      div {
        color: $alterblue;
        text-align: center;
        font-size: 50px;
      }
    }

    .change-wrapper {
      border-radius: 50%;
      border: 1px solid $white;
      padding: 0.5rem;
      height: fit-content;
      width: fit-content;
      transition: 200ms all;
      margin-left: 0.5rem;
      position: relative;
      color: transparent;
      text-shadow: 0 0 0 $white;
      cursor: pointer;
      font-size: 15px;

      &:hover {
        background: $white;
        font-size: 20px;
        text-shadow: 0 0 0 $alterblue, 0 0 5px $alterblue;
        box-shadow: 0 0 10px 0 rgba($white, 0.6);
      }
    }

    p {
      font-size: 25px;
      color: $white;
    }
  }
  .account-settings {
    display: flex;

    app-account-attribute + app-account-attribute {
      margin-left: 4rem;
    }
  }
}

p {
  text-align: center;
}

.account-currencies-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .account-currencies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;

    app-account-currency {
      margin-bottom: 1.5%;
      margin-left: 0;
      flex: 0 10%;
    }
  }
}

.add-currency {
  width: 100px;
  height: 100px;
  padding: 1rem;
  border: 1px dashed $alterblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  transition: 200ms all;

  p {
    font-size: 60px;
    text-align: center;
    color: $white;
    transition: 200ms all;
    -webkit-text-stroke: 1px $alterblue;
  }

  &:hover {
    background: $lightblue;
    border-style: solid;
    border-color: $lightblue;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba($alterblue, 0.4);

    p {
      color: $white;
      font-size: 70px;
      font-weight: bold;
      text-shadow: 0 0 20px rgba(#fff, 0.6);
      -webkit-text-stroke-width: 0;
    }
  }
}

.no-currency {
  p {
    font-size: 19px;
    color: $dark;
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow-wrapper {
  position: absolute;
  background: linear-gradient(0deg, rgba(46,11,47,1) 0%, rgba(17,28,57,1) 100%);
  width: 100%;
  height: 100%;
  top: 8%;

  .snow {
    $total: 100;
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px $white);

    @for $i from 1 through $total {
      $random-x: random(1000000) * 0.0001vw;
      $random-offset: random_range(-100000, 100000) * 0.0001vw;
      $random-x-end: $random-x + $random-offset;
      $random-x-end-yoyo: $random-x + ($random-offset / 2);
      $random-yoyo-time: random_range(30000, 80000) / 100000;
      $random-yoyo-y: $random-yoyo-time * 100vh;
      $random-scale: random(10000) * 0.0001;
      $fall-duration: random_range(10, 30) * 1s;
      $fall-delay: random(30) * -1s;

      &:nth-child(#{$i}) {
        opacity: random(10000) * 0.0001;
        transform: translate($random-x, -10px) scale($random-scale);
        animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
      }

      @keyframes fall-#{$i} {
        #{percentage($random-yoyo-time)} {
          transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
        }

        to {
          transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
        }
      }
    }
  }
}
