@import "../../../../utils/scss/colors";

.header {
  background: #4287f5;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  color: $white;
  font-size: 40px;
  margin-top: 2rem;
  letter-spacing: 5px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.account-avatar-wrapper {
  margin: 2rem 0;

  .account-avatar-bg {
    background: $blue;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    border-radius: 50%;

    div {
      color: $white;
      text-align: center;
      font-size: 50px;
    }
  }

  p {
    font-size: 25px;
    color: $white;
  }
}

.account-settings {
  display: flex;

  app-account-attribute + app-account-attribute {
    margin-left: 4rem;
  }
}
