@import "../../../../utils/scss/colors";

.col {

  padding: 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;

  .header {
    background: #4287f5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      top: 14%;
      opacity: 0.7;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }
  }

  h2 {
    text-align: center;
    color: $white;
    font-size: 40px;
    margin-top: 2rem;
    letter-spacing: 5px;
  }


  .account-avatar-wrapper {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .account-avatar-bg {
      background: $white;
      width: 100px;
      height: 100px;
      padding-top: 10px;
      border-radius: 50%;

      div {
        color: $alterblue;
        text-align: center;
        font-size: 50px;
      }
    }

    .change-wrapper {
      border-radius: 50%;
      border: 1px solid $white;
      padding: 0.5rem;
      height: fit-content;
      width: fit-content;
      transition: 200ms all;
      margin-left: 0.5rem;
      position: relative;
      color: transparent;
      text-shadow: 0 0 0 $white;
      cursor: pointer;
      font-size: 15px;

      &:hover {
        background: $white;
        font-size: 20px;
        text-shadow: 0 0 0 $alterblue, 0 0 5px $alterblue;
        box-shadow: 0 0 10px 0 rgba($white, 0.6);
      }
    }

    p {
      font-size: 25px;
      color: $white;
    }
  }
  .account-settings {
    display: flex;

    app-account-attribute + app-account-attribute {
      margin-left: 4rem;
    }
  }
}

p {
  text-align: center;
}

.account-currencies-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .account-currencies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;

    app-account-currency {
      margin-bottom: 1.5%;
      margin-left: 0;
      flex: 0 10%;
    }
  }
}



.add-currency {
  width: 100px;
  height: 100px;
  padding: 1rem;
  border: 1px dashed $alterblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  transition: 200ms all;

  p {
    font-size: 60px;
    text-align: center;
    color: $white;
    transition: 200ms all;
    -webkit-text-stroke: 1px $alterblue;
  }

  &:hover {
    background: $lightblue;
    border-style: solid;
    border-color: $lightblue;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba($alterblue, 0.4);

    p {
      color: $white;
      font-size: 70px;
      font-weight: bold;
      text-shadow: 0 0 20px rgba(#fff, 0.6);
      -webkit-text-stroke-width: 0;
    }
  }
}

.no-currency {
  p {
    font-size: 19px;
    color: $dark;
  }
}
