<div class="col">
  <div [@showHideHeader] class="header-wrapper">
    <div class="header">
      <img class="left" src="../../../../../assets/img/profile-art1-u.png">
      <img class="right" style="transform: scale(-1, -1)" src="../../../../../assets/img/profile-art1-u.png">
      <h2>Profile</h2>
      <div class="account-avatar-wrapper">
        <div class="account-avatar-bg">
          <div>{{getNicknameInitials()}}</div>
        </div>
        <p>{{userService.getLocalUser().username}}</p>
        <p style="font-size: 23px; font-weight: lighter">{{getStatus()}} <span class="change-wrapper">🖊️</span></p>
      </div>
    </div>
    <div class="account-settings">
      <app-account-attribute
        [label]="'Nickname'"
        [value]="user.username"
        [editable]="true"
        [attribute]="'username'"
      >
      </app-account-attribute>
      <app-account-attribute
        [label]="'Password'"
        [value]="getEncryptedPassword()"
        [editable]="false"
      >
      </app-account-attribute>
      <app-account-attribute
        [label]="'E-mail'"
        [value]="user.email"
        [editable]="true"
        [attribute]="'e-mail'"
      >
      </app-account-attribute>

    </div>
  </div>
  <p style="font-size: 40px; font-weight: lighter;">Your wallet</p>
  <div style="margin-bottom: 2rem" class="account-currencies" *ngIf="initComplete">
    <app-account-currency *ngFor="let key of ownedCoins" [currencyInfo]="key"
    >

    </app-account-currency>
    <div class="no-currency" *ngIf="ownedCoins !== undefined && ownedCoins.length === 0" style="display: flex; flex-direction: column; align-items: center">
      <p>You have no crypto-currency in your wallet right now.</p>
      <p>You can exchange/buy it on exchange page.</p>
      <app-link [routeLink]="true" [route]="'../../exchange'" [text]="'Go to exchange page'"></app-link>
    </div>
  </div>

  <app-modal
    [modalTemplateId]="'change_attr'"
    [id]="'change-attr-modal'"
    [useCustomTemplate]="true"
    [customTemplateArgs]="[changeType]"
    [draggable]="true"
    style="left: 40%; top: 40%"
  >

  </app-modal>
</div>
