<div class="col">
  <div [@showHideHeader] class="header-wrapper">
    <div class="header">
      <img class="left" src="../../../../../assets/img/profile-art1-u.png">
      <img class="right" style="transform: scale(-1, -1)" src="../../../../../assets/img/profile-art1-u.png">
      <h2>Profile</h2>
      <div class="account-avatar-wrapper">
        <div class="account-avatar-bg">
          <div>{{getNicknameInitials()}}</div>
        </div>
        <p>{{userService.getLocalUser().username}}</p>
        <p style="font-size: 23px; font-weight: lighter">{{getStatus()}}</p>
      </div>
    </div>
    <div class="account-settings">
      <app-account-attribute
        [label]="'Nickname'"
        [value]="user.username"
      >
      </app-account-attribute>
      <app-account-attribute
        [label]="'Password'"
        [value]="getEncryptedPassword()"
      >
      </app-account-attribute>
      <app-account-attribute
        [label]="'E-mail'"
        [value]="user.email"
      >
      </app-account-attribute>

    </div>
  </div>
  <p style="font-size: 40px; font-weight: lighter;">Your wallet</p>
  <div style="margin-bottom: 2rem" class="account-currencies" *ngIf="initComplete">
    <app-account-currency *ngFor="let key of ownedCoins" [currencyName]="key"
    >

    </app-account-currency>
    <div class="no-currency" *ngIf="ownedCoins.length === 0" style="display: flex; flex-direction: column; align-items: center">
      <p>You have no crypto-currency in your wallet right now.</p>
      <p>You can exchange/buy it on exchange page.</p>
      <app-link [routeLink]="true" [route]="'../../exchange'" [text]="'Go to exchange page'"></app-link>
    </div>
  </div>
</div>
