@import "../../../../../utils/scss/colors";
@import "../../../../../buttons/context-button/context-button.component";

.currency-wrapper {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid $alterblue;
  box-shadow: 0 0 10px 0 rgba(#000, 0.1);
  padding: 1.5rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1rem;
  background: $white;

  .separator {
    width: 200px;
    height: 1px;
    background: rgba(#000, 0.4);
  }

  .currency-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .currency-icon {
      background: $alterblue;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding: 1rem;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 45px;
        text-shadow: 0 0 15px rgba(#fff, 0.4);
      }
    }

    p {
      color: $dark;
      font-size: 35px;
      letter-spacing: 2px;
    }
  }

  .currency-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-size: 25px;
      font-weight: lighter;
      margin: 0;
    }

    button {
      @extend .ctx-button;
    }

    .balance {
      color: $darkgreen;
      font-size: 35px;
      margin-bottom: 1rem;
    }

  }
}
