@import "../../utils/scss/colors";

.navbar-container {
  padding-top: 10px;
  position: fixed;
  width: 100%;
  background: $white;
  top: 0;
  box-shadow: 0 0 35px 0 rgba($dark, 0.3);
  border-bottom: 1px solid $blue;
  z-index: 6;

  .row {
    width: 100%;
  }

  app-link + app-link {
    margin-left: 2rem;
  }

  .col {
    display: flex;
    justify-content: center !important;
    align-items: flex-start;
    position: relative;
    max-width: 33%;
    flex-wrap: wrap;

    span {
      letter-spacing: 3px;
    }

    app-context-button {
      margin-left: 1rem;
    }

    @media only screen and (max-width: 1700px) {
      app-context-button {
        margin-top: 1rem;
      }
    }

  }

  .center {
    border-right: 1px solid rgba(#000, 0.3);
    border-left: 1px solid rgba(#000, 0.3);
  }



  .right {
    justify-content: flex-end !important;

    .user-info {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: 1600px) {
        .welcome-message {
          padding-right: 0.4rem;
        }
      }

      @media only screen and (max-width: 1100px) {
        flex-direction: column;
      }

      @media only screen and (max-width: 1700px) {
        padding-left: 1rem;
      }
    }
  }

  .left {
    justify-content: flex-start !important;
  }

  .right {
    @media only screen and (max-width: 1800px) {
      justify-content: center !important;
      align-items: center !important;
    }
  }

  .left {
    @media only screen and (max-width: 1000px) {
      justify-content: center !important;
    }
  }
}

a {
  font-size: 22px;
  padding: 5px 10px;
  cursor: pointer;
  color: $blue;
  box-shadow: 0 0 8px 0 rgba($dark, 0);
  border-radius: 0px;
  background: $white;
  transition: 200ms all, 100ms border;
  font-weight: lighter;
  border: 0 solid $lightblue;

  &:hover {
    text-decoration: none;
    text-shadow: 0 0 10px rgba($blue, 0.5);
    box-shadow: 0 0 8px 0 rgba($dark, 0.4);
    border-radius: 25px;
    letter-spacing: 2px;
    font-weight: normal;
    border: 1px solid $lightblue;
    border-left-width: 3px;
    border-right-width: 3px;
  }

  &:active {
    background: $lightblue;
    color: $white;
    border: 1px solid $lightblue;
  }
}

.offline-mode {
  font-size: 18px;
  color: $white;
  background: $dark;
  padding: 0 0.5rem;
  text-shadow: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  box-shadow: 0 0 7px 0 rgba(#000, 0.7);

  p {
    margin: 0;
  }

  .red-dot {
    padding: 0.3rem;
    background: $red;
    margin: 0 0.5rem 0 0.2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px 0 rgba($red, 1);
  }

  .info {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}

a + a {
  margin-left: 1rem;
}

.navbar-icon-question:hover {
  box-shadow: 0 0 15px 0 rgba(#000, 1);
}

.offline-mode {
  font-size: 20px;
}

.balance {
  font-size: 1.3vw;
  color: $darkgreen;
  border: 1px solid $darkgreen;
  padding: 0.2rem 0.4rem;
  box-shadow: 0 0 8px 0 rgba(#000, 0.2);
  border-radius: 10px;
  margin-left: 0.3rem;
  cursor: pointer;
  transition: 200ms background-color, 200ms color;
  height: fit-content;

  .fading-text {
    background: linear-gradient(90deg, rgba($darkgreen,1) 0%, rgba($darkgreen,0.2805497198879552) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (max-width: 1400px) {
    font-size: 1vw;
  }

  &:hover {
    background: $darkgreen;
    color: $white;
  }
}

