@import "../../utils/scss/colors";

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid $dark;
  z-index: 1;

  app-link-button + app-link-button {
    margin-left: 5px;
  }
}
