<div class="navbar-container">
  <div class="row">
    <div class="col left">

    </div>
    <div class="col">
      <app-link [route]="''" [routeLink]="true" [text]="'Home'"></app-link>
      <app-link [route]="'monitoring'" [routeLink]="true" [text]="'Monitoring'"></app-link>
      <app-link [route]="'news'" [routeLink]="true" [text]="'News'"></app-link>
      <app-link [route]="'forum'" [routeLink]="true" [text]="'Forum'"></app-link>
      <app-link *ngIf="userService.isLoggedIn()" [route]="'account'" [routeLink]="true" [text]="'Account'"></app-link>
    </div>
    <div class="col right">
    <span *ngIf="!userService.isLoggedIn()">
      You are not logged in
    </span>
      <app-context-button *ngIf="!userService.isLoggedIn()"
                          [context]="modalService.showModal"
                          [args]="['login-modal']"
                          [text]="'Log in'"
      >
      </app-context-button>
      <span *ngIf="userService.isLoggedIn()">
      Welcome, {{userService.getLocalUser().nickname}}
    </span>
      <app-context-button *ngIf="userService.isLoggedIn()"
                          [text]="'Logout'"
                          [context]="userService.logOut"
                          [args]="[]"
      >
      </app-context-button>
    </div>
  </div>
  <div class="row" style="justify-content: center; margin-top: 10px">

  </div>
</div>
