<div class="navbar-container">
  <div class="row">
    <div class="col left" style="margin-left: 1rem;">
      <div style="
       margin: 0;
       font-size: 25px;
       display: flex;
       letter-spacing: 4px;
       color: #232323;
       font-weight: normal;
       text-shadow: 0 0 10px rgba(40,83,198,0.53);
      ">
        🎄 Bits4cash 🎄
        <div *ngIf="!connectionService.connected" class="offline-mode" [@noConnection]>
          <span class="red-dot"></span>
          <p>Offline mode</p>
          <div style="position: relative; padding: 0.25rem 0; display: flex; align-items: center" appShowModal [params]="['not-responding-tooltip', true, false]">
            <img src="../../../assets/img/info-button.png" class="info">
            <app-modal
              [@.disabled]
              [modalTemplateId]="'mini_tooltip'"
              [id]="'not-responding-tooltip'"
              [useCustomTemplate]="true"
              [customTemplateArgs]="[
              'No connection',
              'Server is not available for some time. Please, try again later.',
              300
              ]"
              style="bottom: -160px; left: -120px; transition: none !important; margin-top: 15px; z-index: 2"
            >

            </app-modal>
          </div>
        </div>
      </div>
    </div>
    <div class="col center">
      <app-link [route]="''" [routeLink]="true" [text]="'Home'"></app-link>
      <app-link [route]="'monitoring'" [routeLink]="true" [text]="'Monitoring'"></app-link>
      <app-link [route]="'news'" [routeLink]="true" [text]="'News'"></app-link>
      <app-link *ngIf="userService.isLoggedIn()" [route]="'exchange'" [routeLink]="true" [text]="'Exchange'"></app-link>
      <app-link [route]="'forum'" [routeLink]="true" [text]="'Forum'"></app-link>
      <app-link *ngIf="userService.isLoggedIn()" [route]="'/account/home'" [routeLink]="true" [text]="'Account'"></app-link>
    </div>
    <div class="col right" style="padding-right: 1rem">
      <span *ngIf="!userService.isLoggedIn() && connectionService.connected">
        You are not logged in
      </span>
      <app-context-button *ngIf="!userService.isLoggedIn() && connectionService.connected"
                          [context]="modalService.showModal"
                          [args]="['login-modal']"
                          [text]="'Log in'"
      >
      </app-context-button>
      <span class="user-info" *ngIf="userService.isLoggedIn()">
        <span class="welcome-message">Welcome, <b>{{userService.getLocalUser().username}}</b></span>
        <span class="balance" (click)="goToBalance()" [innerHTML]="(balance | cutText : 12 : 5) + '$'"></span>
      </span>
      <app-context-button *ngIf="userService.isLoggedIn()"
                          [text]="'Logout'"
                          [context]="userService.logOut"
                          [args]="[]"
      >
      </app-context-button>
    </div>
  </div>
  <div class="row" style="justify-content: center; margin-top: 10px">

  </div>
</div>
