<div class="navbar-container">
  <div class="row">
    <div class="col left">

    </div>
    <div class="col">
      <a routerLink="" routerLinkActive="active">Home</a>
      <a routerLink="monitoring" routerLinkActive="active">Monitoring</a>
      <a routerLink="news" routerLinkActive="active">News</a>
      <a routerLink="forum" routerLinkActive="active">Forum</a>
      <app-link-button *ngIf="userService.isLoggedIn()" [text]="'Account'"></app-link-button>
    </div>
    <div class="col right">
    <span *ngIf="!userService.isLoggedIn()">
      You are not logged in
    </span>
      <app-context-button *ngIf="!userService.isLoggedIn()"
                          [text]="'Login'"
      >
      </app-context-button>
      <span *ngIf="userService.isLoggedIn()">
      Welcome, {{userService.getLocalUser().nickname}}
    </span>
      <app-context-button *ngIf="userService.isLoggedIn()"
                          [text]="'Logout'"
                          [context]="userService.logOut"
                          [args]="[]"
      >
      </app-context-button>
    </div>
  </div>
  <div class="row" style="justify-content: center; margin-top: 10px">

  </div>
</div>
