@import "../../utils/scss/colors";

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid $dark;
  z-index: 1;

  app-link-button + app-link-button {
    margin-left: 5px;
  }

  .col {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      letter-spacing: 3px;
    }

    app-context-button {
      margin-left: 1rem;
    }
  }

  .right {
    justify-content: flex-end;
  }

  .left {
    justify-content: flex-start;
  }
}

.navbar-icon-question:hover {
  box-shadow: 0 0 15px 0 rgba(#000, 1);
}
