$dark: #575757;
$blue: #2282c7;
$white: #fff;
$green: #21eb93;
$darkgreen: #14c477;
$panel: #fcfcfc;
$orange: #ff673d;
$darkpanel: #737373;
$lightblue: #57b9ff;
$red: #ff5454;

.blue {
  color: $blue
}
