<div class="account-attribute-wrapper">
  <div class="connector-left"></div>
  <div class="connector-right"></div>
  <div class="attribute-name">
    <span>{{label}}</span>
    <div>
      <img appShowModal [params]="['password-tooltip', true, true]" *ngIf="isPassword" src="../../../../../../assets/img/info-button.png">
      <app-modal
        [@.disabled]="true"
        [modalTemplateId]="'mini_tooltip'"
        [id]="'password-tooltip'"
        [useCustomTemplate]="true"
        [customTemplateArgs]="[
        'Not implemented',
        'Password changing is not implemented yet.',
        200
        ]"
        style="left: -24%; bottom: -140px;"
        class="parallax-object" parallax-speed="-0.1"
      >
      </app-modal>
    </div>
    <button *ngIf="editable">Change</button>
  </div>
  <div class="attribute-value">{{value}}</div>
</div>
